.create-game {
  width: 500px;

  .dialog-content {
    input {
      flex: 1;
    }

    .title,
    .input-container {
      display: flex;
      margin-bottom: 32px;
    }

    .input-container,
    .bingo-field-container {
      input {
        margin-right: 16px;
      }
    }

    .bingo-fields {
      .bingo-field-container {
        display: flex;
        margin-bottom: 16px;

        .actions {
          display: flex;

          .divider {
            margin: 0 8px;
          }
        }
      }
    }
  }

  .dialog-actions {
    flex-direction: row;

    .warning,
    .buttons {
      width: 100%;
    }

    .warning {
      display: flex;
      align-items: center;
      margin: 8px 0 16px 0;

      svg {
        margin-right: 16px;
        color: $primary;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
    }
  }
}
