.bingo-card {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(6, 150px);
  column-gap: 8px;
  row-gap: 8px;
  user-select: none;
}

.bingo-header {
  display: flex;
  flex: 1 0 21%;
  justify-content: center;
  align-items: center;
  font-size: 46pt;
  font-weight: 600;
  color: $primary;
}
