.bingo-field {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  color: #fff;
  background-color: lighten($background, $amount: 5%);
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover:not(.win) {
    background-color: lighten($background, $amount: 15%);
  }

  &.selected {
    background-color: lighten($background, $amount: 25%);
  }

  &.win {
    background-color: $primary;
  }
}
