.auth-dialog {
  .card {
    padding: 0;
    box-shadow: none;

    .card-content {
      margin-bottom: 0;
    }
  }

  .dialog-content {
    padding: 0;
  }

  .tab-content {
    padding: 24px 24px 0 24px;
  }
}
