.game {
  width: 100%;
  display: flex;
  justify-content: center;

  .game-container {
    max-width: 750px;
    width: 100%;

    @media only screen and (min-width: 1280px) {
      max-width: 1000px;
    }
  }

  .admin-controls,
  .bingo-card {
    margin-bottom: 32px;
  }

  .current-field {
    box-shadow: none;

    .card-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .bottom-info-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background;

    .bingo-button {
      max-width: 200px;
      width: 100%;
      font-weight: bold;
      font-size: 24px;
    }
  }

  .admin-controls {
    box-shadow: none;

    h2 {
      margin-top: 8px;
      margin-bottom: 4px;
    }

    .divider {
      margin-bottom: 8px;
    }

    .count {
      margin-left: 8px;
      font-weight: 400;
    }

    .collapsible {
      margin-bottom: 8px;
    }

    .card-actions {
      flex-direction: column;
    }

    .card-content {
      margin: 32px 0;

      .draw-field {
        width: 100%;
        margin: 0;
      }
    }

    .list-item {
      min-height: 32px;
      font-size: 16px;
      display: flex;
      align-items: center;

      .check-icon {
        margin-right: 8px;
      }
    }
  }
}
