.app-bar {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: $background;
  min-height: 56px;
  user-select: none;

  @include elevation-transition;

  &.elevated {
    @extend .elevation-z4;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding-top: 2px;
  }

  .back-button {
    margin-left: 32px;
  }

  .title {
    margin: 0 32px;
    font-size: 28pt;
    font-weight: 600;
    letter-spacing: 5px;
    color: #fff;

    @media (max-width: 1023px) {
      margin: 0 16px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .actions {
    display: flex;
    align-items: center;

    .create-game-button,
    .logout-button {
      margin-right: 16px;
    }
  }

  .progress-bar-container {
    height: 4px;
  }
}
