.bingo-card {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  user-select: none;
  margin-bottom: 3rem;

  @media only screen and (min-width: 786px) {
		gap: 1rem;
  }
  
}

.bingo-card-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  margin: 1rem;

  .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46pt;
    font-weight: 600;
    color: $primary;
  }
}
