.bingo-field-list {
  .input-container {
    display: flex;
    margin-bottom: 16px;

    input {
      margin-right: 16px;
    }
  }

  .editable-input-field-container {
    margin-bottom: 16px;
  }
}
