.bingo-card {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  user-select: none;
  margin-bottom: 3rem;

  @media only screen and (min-width: 786px) {
		gap: 1rem;
  }
  
}
