.card {
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  background-color: $light-background;

  &.clickable {
    transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: lighten($background, $amount: 15%);
      cursor: pointer;
    }
  }

  &:not([class*='elevation-z']) {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
      0 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
}

.card-title {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 16px;
  width: 100%;
}

.card-content {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  width: 100%;

  button {
    margin: 0 8px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
