.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    width: 100%;
  
    input {
      width: 100%;
      margin-bottom: 16px;
    }
  }

.input-fields{
  :last-child{
    margin-top: 16px;
  }

  label{
    font-size: medium;
  }

}

.user-display{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 360px;
  width: 100%;
  margin-bottom: 20px;

  table{
    font-size: medium;
    width: 100%;
  }

  td{
    vertical-align: middle;
    margin:0;
    padding: 10px;
    border-bottom: 1px solid #e69eff;
  }
}

.label{
  color: #aaaaaa;
}

#delete-button{
  margin-left: 0;
  margin-right:auto;
}

.button-box{
  display:flex;
  justify-content:flex-end;
}