.edit-profile-dialog {
  width: 360px;

  .editable-input-field-container {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 32px;
    }

    .actions {
      margin-left: 0;

      button {
        &:first-of-type {
          margin-left: 16px;
        }
      }
    }
  }

  .user-details {
    margin-bottom: 32px;

    .detail {
      display: flex;
      align-items: center;
      height: 46px;

      svg {
        width: 22px;
        height: 22px;
      }

      span {
        margin-left: 16px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  .delete-account {
    width: 100%;
  }
}
